name: Build and publish Docker image to GHCR

on:
  push:
    branches: [ "master" ]
    optionally:
    push:
      tags:
        - "v*"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract version from tag
        id: vars
        run: |
          TAG=${GITHUB_REF##*/}
          echo "version=$TAG" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/realworld-rust-axum-sqls:latest
            ghcr.io/${{ github.repository_owner }}/realworld-rust-axum-sqls:${{ steps.vars.outputs.version }}